// Colors

$color-bg = #fff
$color-body-text = #252525
$color-chart-gridline = #ddd
$color-chart-meta = #CCCCCC
$color-chart-axis-text = #888B90
$color-chart-title-text = #252525
$color-chart-zeroline = #333

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#ec0101 \
	#252525 \
	#F5F5F5 \
	#F9B816 \
	#E3A816 \
	#72A2A9 \
	#888B90 \
	#C5C5C5 \
	#B1B1B1 \
	#666 \
	#ccc

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke (c)
			stroke-width 2px
			fill (c)

	.color-index-{i}
		fill (c)

	rect.color-index-{i}
		fill (c)

	path.color-index-{i}
		stroke (c)

	circle.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	g.axis.color-index-{i}
		text
			fill (c)

	.cb-colorpicker-color-{i}
		background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

